.navbar-top {
  text-align: center; /* Align items vertically in the center */
  background-color: #ffe609;
  height: 20px; /* Adjust the height to your preference */
  font-size: 15px;
  font-family: "Poppins";
}

.navbar {
  background-color: #ff7575; /* Pastel Pink */
  height:90px;
  padding-left:30px;
  color:white;
}

.blooming-header {
  color: white !important;
  font-size: 35px;
  font-family: "Baskerville";
  font-weight: 50;
  display: block;
}

.slogan-header{
    font-size: 15px ;
    font-family: 'Lancelot';
    color: white;
    position: absolute;
    top: 65%;
    left: 1%;
    margin-bottom: 10px;

}


.icon-header {
  height: 17px;
  position: absolute;
  left: 8%;
  top: 17%;
}

.margin-top-10px {
  margin-bottom: 10px;
}

.ml-auto {
  margin-left: 0 !important;
  
}

.margin-left-50px {
  margin-left: 60px;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.end-icons {
  display: flex ;
}

.middle-font {
  font-family: 'Jacques Francois';
  font-size: 18px;
}