<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Baskerville" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lancelot" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Jacques Francois" />
  <link href="../navbar-components/navbar.component.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar-top">
    <a>ORDER BY 3PM FOR FREE SAME-DAY DELIVERY</a>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light">
    <h2 class="blooming-header margin-top-10px">
      Blooming<img class="icon-header" src="/photos/Flower.png" />
      <h3 class="slogan-header">‘’bloom your love with flowers’’</h3>
    </h2>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center middle-font" id="navbarNav">
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item">
          <a class="nav-link" href="#">Sale</a>
        </li>
        <li class="nav-item margin-left-50px">
          <a class="nav-link" href="#">Birthday</a>
        </li>
        <li class="nav-item margin-left-50px">
          <a class="nav-link" href="#">Occasions</a>
        </li>
        <li class="nav-item margin-left-50px">
          <a class="nav-link" href="#">Budget</a>
        </li>
        <li class="nav-item margin-left-50px">
          <a class="nav-link" href="#">Type</a>
        </li>
        <li class="nav-item margin-left-50px">
          <a class="nav-link" href="#">Brand</a>
        </li>
        <li class="nav-item margin-left-50px">
          <a class="nav-link" href="#">Service</a>
        </li>
      </ul>
    </div>
    <div class="nav justify-content-end end-icons">
      <li class="nav-item">
        <a class="nav-link active" href="#"><svg xmlns="http://www.w3.org/2000/svg" height="25"
            viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
            <path fill="#ffffff"
              d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
          </svg></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><img src="/photos/basket2.0.png" height="35px"></a>
      </li>
    </div>
  </nav>
</body>

</html>